.containerStrategy {
    padding-top: 5vh;
    & > h1 {
        font-family: $Raleway;
        color: $titleHeaderColor;
        text-align: center;
    }
    & > h2 {
        font-family: $Raleway;
        color: $secondTitleHeaderColor;
        text-align: center;
    }
}
