.contact {
  overflow: hidden;

  .containerContact {
    position: relative;
    background-color: #2f3442;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 120px;
    padding-bottom: 15px;
    padding-top: 10px;
    .changeStateButton {
      cursor: pointer;
      background-color: #4f5566;
      position: absolute;
      top: 30px;
      right: -90px;
      width: 90px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      font-family: $Raleway;
      padding: 15px 5px;

      font-size: 0.85rem;
      transition: 0.4s;
      z-index: 0 !important;
      &:hover {
        padding-right: 0;
        padding-left: 15px;
        background-color: #61687e;
        color: rgb(210, 223, 226);
      }
    }
    h1 {
      color: #d6ddd6;
      text-align: center;
      width: 500px;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 2.7rem;
      font-family: $Roboto;
    }
    h2 {
      color: #000000;
      text-align: center;
      width: 500px;
      margin: 0 auto;
      font-size: 0.85rem;
      font-family: $Raleway;
      margin-top: 50px;
    }

    form {
      display: flex;
      width: 40vh;
      min-width: 300px;
      margin: 0 auto;
      flex-direction: column;
    }

    label {
      color: rgb(226, 225, 225);
      font-family: $Raleway;
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 2px;
    }

    input {
      background: #454c5e;
      font-family: $Raleway;
      font-weight: 600;
      color: rgb(248, 247, 247);
      padding: 5px 5px;
      border: none;
    }
    textarea {
      background: #454c5e;
      font-family: $Raleway;
      font-weight: 600;
      padding: 5px 5px;
      color: rgb(248, 247, 247);
      border: none;
      height: 100px;
      max-width: 500px;
      max-height: 200px;
      transition: 0.4s;
      &:focus {
        outline: none;
        background: #454c5f;
      }
    }

    button {
      cursor: pointer;
      background: #3b4153;
      font-family: "Raleway", sans-serif;
      font-size: 1rem;
      border: 0;
      padding: 10px 15px;
      width: 60%;
      margin: 0 auto;
      margin-top: 30px;
      transition: 0.4s;
      &:hover {
        background: #5a637e;
      }
    }
  }

  .containerStrategySubmission {
    position: relative;
    background-color: #2f3442;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 120px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding: 20px 50px;
    .changeStateButton {
      cursor: pointer;
      background-color: #4f5566;
      position: absolute;
      top: 30px;
      right: -100px;
      width: 100px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      font-family: $Raleway;
      padding: 15px 5px;

      font-size: 0.85rem;
      transition: 0.4s;
      z-index: 0 !important;
      &:hover {
        padding-right: 0;
        padding-left: 15px;
        background-color: #61687e;
        color: rgb(210, 223, 226);
      }
    }
    h1 {
      color: #eff5f5;
      text-align: center;
      width: 400px;
      margin: 0 auto;
      margin-bottom: 20px;
      font-size: 2.2rem;
      font-family: $Roboto;
    }
    h2 {
      color: #000000;
      text-align: center;
      width: 500px;
      margin: 0 auto;
      font-size: 0.85rem;
      font-family: $Raleway;
      margin-top: 30px;
    }

    form {
      display: flex;
      width: 40vh;
      min-width: 300px;
      margin: 0 auto;
      flex-direction: column;
    }

    label {
      color: rgb(226, 225, 225);
      font-family: $Raleway;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 2px;
    }

    input {
      background: #454c5e;
      font-family: $Raleway;
      font-weight: 600;
      color: rgb(248, 247, 247);
      padding: 5px 5px;
      border: none;
    }
    textarea {
      background: #454c5e;
      font-family: $Raleway;
      font-weight: 600;
      padding: 5px 5px;
      color: rgb(248, 247, 247);
      border: none;
      height: 200px;

      max-width: 500px;
      max-height: 400px;
      transition: 0.4s;
      &:focus {
        outline: none;
        background: #454c5f;
      }
    }

    button {
      cursor: pointer;
      background: #3b4153;
      font-family: "Raleway", sans-serif;
      font-size: 1rem;
      border: 0;
      padding: 10px 15px;
      width: 60%;
      margin: 0 auto;
      margin-top: 30px;
      transition: 0.4s;
      &:hover {
        background: #5a637e;
      }
    }
  }
}
