@import "../abstracts/fonts";

.copyRight {
    background-color: #1b1b1b;
    width: 100%;
    margin-top: 35vh;
    padding: 10px 0;
    text-align: center;
    font-family: $Raleway;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(129, 127, 127);
    span {
        color: #3e7070;
    }
}
