@import "../abstracts/fonts";
@import "../mixins/animationCards";
@import "../mixins/petTypeStyle";
.App {
  .rememberChar {
    cursor: pointer;
    background-color: rgb(192, 55, 55);
    color: white;
    font-family: $Roboto;
    font-size: 0.95rem;
    position: absolute;
    padding: 10px 14px;
    top: 220px;
    left: 8%;
    z-index: 5;
    transition: 0.4s;

    &:hover {
      background-color: rgb(145, 34, 34);
    }
    &:active {
      top: 217px;
    }
  }
  .favored {
    cursor: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(129, 35, 35);
    box-shadow: inset 0px 0px 8px 4px rgb(49, 49, 49);
    left: 10%;
    &:active {
      top: 220px;
    }
    &:hover {
      pointer-events: none;
      background-color: rgb(129, 35, 35);
    }
  }
  .noFavorite {
    position: absolute;
    top: 60px;
    left: 10%;
    background: linear-gradient(60deg, rgb(156, 156, 151), rgb(209, 208, 208));
    border: 1px solid rgb(2, 2, 2);
    border-radius: 0.5rem;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Raleway;
  }
  .emptyBarTotalPets {
    position: absolute;
    top: 108px;
    left: 17%;
    border: 1px solid rgb(116, 116, 139);
    border-radius: 10px;
    width: 120px;
    height: 10px;
    p {
      font-family: $Roboto;
      font-weight: 100;
      text-align: center;
      color: rgb(22, 27, 22);
      width: 170px;
      margin-top: 5px;
      margin-left: -10px;
    }
    .fillBarOwnedPets {
      background: linear-gradient(120deg, rgb(58, 201, 82), rgb(36, 128, 24));
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;

      height: 9px;
    }
    h3 {
      position: absolute;
      top: -25px;
      left: 17%;
      color: rgb(107, 151, 91);
      font-family: $Roboto;
      font-weight: 100;
    }
  }
  .profile {
    position: absolute;
    top: 60px;
    left: 10%;
    img {
      position: relative;
      border-radius: 0.5rem;
    }

    &:hover:not(h2) .hoverProfile {
      display: inline;
    }

    .hoverProfile {
      position: absolute;
      left: 89px;
      top: -20px;
      display: none;
    }
    div {
      display: flex;
      font-family: $Raleway;
      font-size: 1.5rem;
      color: rgb(0, 0, 0);
      position: absolute;
      min-width: 350px;
      top: 90px;
      left: -40px;
      h2 {
        font-size: 1.2rem;
        padding: 5px 0;
        font-weight: 300;
        margin-left: 8px;
        color: rgb(0, 0, 0);
        &::first-letter {
          display: inline;
          text-transform: uppercase;
        }
      }
    }
  }
  .error {
    color: black;
    font-family: $Raleway;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    p {
      color: rgb(30, 43, 59);
      font-size: 7rem;

      margin-bottom: 5vh;
    }
  }
  & > .displayPets {
    position: relative;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 250px));
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    grid-auto-rows: 1fr;
    min-height: 350px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 15vh;
    .zoomOutPet {
      position: absolute;
      height: 100vh;
      width: 100vh;
      z-index: 0;
    }

    @include glowAnimations("elemental");
    @include glowAnimations("critter");
    @include petTypes;

    li {
      position: relative;
      background-color: rgb(240, 240, 240);
      cursor: pointer;
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(223, 223, 223);
      text-align: center;
      padding: 0.8rem 0;
      padding-bottom: 0rem;
      border-radius: 0.8rem;
      transition: 1s;
      line-height: 1.9rem;
      z-index: 10;
      animation: enterTop;
      .blue {
        color: rgb(28, 28, 129);
        font-size: 0.85rem;
        font-family: $Raleway;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      .green {
        color: rgb(105, 165, 48);
        font-size: 0.85rem;
        font-family: $Raleway;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      .white {
        color: rgb(240, 241, 238);
        font-size: 0.85rem;
        font-family: $Raleway;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      .grey {
        color: rgb(167, 168, 165);
        font-size: 0.85rem;
        font-family: $Raleway;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      .petName {
        font-family: $Roboto;
        font-size: 1rem;
        line-height: 18px;
        min-height: 33px;
        margin-top: 10px;
      }
      .level {
        margin-bottom: 5px;
      }
      .type {
        margin: 0 auto;
        margin-top: 40px;
        color: rgb(27, 27, 27);
        font-size: 0.65rem;
        letter-spacing: 1.5px;
      }

      p {
        text-align: center;
        margin: 0 auto;
        min-width: 110px;
        font-family: $Raleway;
        font-size: 0.95rem;

        .health {
          color: rgb(194, 47, 47);
          font-size: 1rem;
        }
        .power {
          color: rgb(201, 121, 47);

          font-size: 1rem;
        }
        .speed {
          color: rgb(173, 165, 49);
          font-size: 1rem;
        }
      }

      .iconPet {
        position: relative;
        width: 100%;
        height: 10px;

        img {
          position: absolute;
          top: -20px;
          left: 50%;
          right: 50%;
          width: 50px;
          border-radius: 0.2rem;
          border: 0.5px solid rgb(196, 194, 194);
          margin: 0 auto;
          transform-style: preserve-3d;
          transform: translate3d(-50%, -50%, 0px);
        }
      }
    }
  }
  @keyframes enterTop {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes flyIn {
    0% {
      opacity: 0;
      transform: translateY(150px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
