@import "../mixins/alignMiddle";
@import "../abstracts/fonts";
.headerTop {
  position: relative;
  padding: 0px 0px;
  margin: 0 auto;
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 90%;

  background: #242424;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 50px;

  & a > img {
    display: none;
    opacity: 0.5;
    position: relative;
    border-top-right-radius: 100px;
    width: 250px;
    top: -30px;
    left: -7px;
    transition: 0.5s;
    &:hover {
      opacity: 0.9;
    }
  }
  .loginButtons {
    position: absolute;
    top: -80px;
    right: -10px;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logedUser {
      font-family: $Roboto;
      color: rgb(238, 230, 230);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        font-size: 1.3rem;
        color: rgb(129, 177, 177);
      }

      a {
        display: block;
        color: rgb(148, 190, 181);
        cursor: pointer;
        font-size: 13px;
        text-decoration: underline;
        text-align: right;
      }
    }
    & > a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 14px;
      font-family: $Raleway;
      font-weight: 600;
      letter-spacing: 0.9px;
      color: rgb(221, 219, 219);
      padding: 6px 10px;
      margin: 0 0px;
      transition: 0.4s;
      margin: auto auto;
      border-radius: 4px;

      border: 1px solid rgb(76, 77, 78);

      &:hover {
        color: rgb(255, 255, 255);
        background-color: #1c1d1f;
        text-shadow: 0 0 2px #fff, 0 0 2px rgba(255, 255, 255, 0.3);
      }
      &:active {
        animation: shadowBox 0.1s;
      }
    }
  }
}

@keyframes shadowBox {
  0% {
    box-shadow: 0px 0px 0px 0px black;
  }
  100% {
    box-shadow: 0px 0px 10px 10px rgb(24, 25, 27);
  }
}
