@import "../mixins/alignMiddle";
@import "../abstracts/fonts";
.headerTop {
  height: 120px;
  min-height: 100px;
  width: 100%;
  background-color: #242833;
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: $HeaderFont;
    text-transform: uppercase;
    color: rgb(233, 232, 232);
    text-align: center;
    letter-spacing: 4px;
    @include middle;
  }
}
