@import "../abstracts/fonts";
@import "../mixins/loader";
@import "../mixins/petTypeStyle";
.behindModal {
  background-color: rgba(10, 10, 10, 0.507);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 25;
}
@include petTypes;

.modalPet {
  border-radius: 0.5rem;
  border: 1px solid white;
  position: fixed;
  max-width: 450px;

  padding: 0 30px 10px 30px;
  min-height: fit-content;
  text-align: center;
  top: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 40;
  box-shadow: 0px 0px 8px 3px rgb(0, 0, 0);
  animation: 1s fadeIn cubic-bezier(0.075, 0.12, 0.165, 0.8);
  .icon {
    position: relative;
    height: 60px;
    width: 100%;
    img {
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  h1 {
    font-family: $Roboto;
    font-size: 1.5rem;
    width: 70%;
    margin: 0 auto;
  }
  h2 {
    font-family: $Raleway;
    font-size: 1rem;

    margin-top: 0px;
    margin-bottom: 30px;
  }
  .trade {
    margin-top: 10px;
    margin-bottom: 10px;
    animation: 0.8s enterLeft;
    text-align: center;
  }
  .type {
    margin-top: 10px;
    margin-bottom: 10px;
    animation: 0.8s enterLeft;
    text-align: center;
  }
  .source {
    animation: 0.8s enterRight;
    text-align: center;
  }
  p {
    position: relative;
    width: 300px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 17px;
    margin: 0 auto;
    font-size: 0.75rem;
    font-family: $Raleway;
    animation: 1s enterTop;
    z-index: 10;
  }

  ul {
    position: relative;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-rows: 110px;
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 10;
  }

  .loadingAbilities {
    position: absolute;

    border: 3px solid rgb(165, 28, 28);
    border-top: 1px solid rgb(226, 224, 224);
    border-right: 0px;
    border-radius: 50%;
    top: 50%;
    bottom: 50%;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    animation: spinner 0.7s linear infinite;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(-40px, 240px) rotate(-5deg);
    }
    100% {
      opacity: 1;
      transform: translate(0px) rotate(0);
    }
  }

  @keyframes enterLeft {
    0% {
      transform: translateX(-120px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes enterRight {
    0% {
      transform: translateX(120px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes enterTop {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
