@import "../abstracts/fonts";

.notFound {
  position: relative;
  margin-top: 15vh;
  text-align: center;
  h1 {
    color: rgb(129, 39, 39);
    font-size: 5rem;
    font-weight: 900;
    font-family: $Raleway;
    margin-top: 10vh;
  }
  h2 {
    color: rgb(50, 71, 116);
    font-size: 2.5rem;
    font-weight: 900;
    font-family: $Raleway;
  }
}
