@import "../abstracts/fonts";

.paginationButtons {
    background-color: #1b1b1b;
    box-shadow: 0px 0px 4px 0px rgb(29, 29, 29);
    position: relative;
    width: fit-content;
    min-width: fit-content;
    padding: 20px 15px;
    border-radius: 7px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 10vh auto;
    z-index: 20;
    @media only screen and (max-width: 720px) {
        flex-wrap: wrap;
    }
    a {
        padding: 0.5rem 0.7rem;
        margin: 1rem;
        border-radius: 5px;
        font-family: $Roboto;
        color: #636369;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
            background-color: #28485e;
            color: rgb(84, 92, 109);
        }
    }

    .paginationActive a {
        position: relative;
        background-color: #28485e;
        color: white;

        &::after {
            overflow: hidden;
            position: absolute;
            bottom: 0px;
            left: 0px;
            content: "";
            width: 70%;
            height: 30px;
            border-bottom-left-radius: 3px;
            background-color: #bddcf5;
            clip-path: polygon(0 64%, 0% 100%, 100% 100%);
        }
    }
    .paginationDisabled a {
        background-color: rgb(66, 65, 65);
        border: 1px solid #4a4a4b;
        color: rgb(153, 153, 153);
        cursor: no-drop;
        &:hover {
            background-color: none;
        }
    }
}
