.shadowlands {
  padding-top: 4rem;
  min-height: 50vh;
  background: #242424;
  .maldraxxusNav a {
    background-color: rgba(7, 7, 7, 0.39);
  }
  & > h1 {
    font-family: $Roboto;
    font-weight: 900;
    font-size: 3rem;
    color: $titleHeaderColor;
    text-align: center;
    margin-bottom: 80px;
    animation: fade 1s;
    @media screen and (max-width: 800px) {
      font-size: 1.9rem;
    }
  }
  .containerShadowlands {
    min-height: 50vh;
  }
}
