.shadowlands {
  padding-top: 4rem;
  min-height: 50vh;
  background: linear-gradient(rgb(247, 244, 244), #b2bbb2, #262a33);
  & > h1 {
    font-family: $Roboto;
    font-weight: 900;
    font-size: 3rem;
    color: #242724;
    text-align: center;
    margin-bottom: 80px;
    animation: fade 1s;
    @media screen and (max-width: 800px) {
      font-size: 1.9rem;
    }
  }
  .containerShadowlands {
    min-height: 50vh;
  }
}
