.success {
  text-align: center;

  h1 {
    font-family: $Raleway;
    color: rgb(44, 36, 36);
    font-size: 2.5rem;
    margin-top: 200px;
  }
  p {
    font-size: 1.3rem;
    font-family: $Raleway;
    color: rgb(44, 36, 36);
    margin-top: 50px;
  }
}
