.workProgress {
    width: 100%;
    background: black;
    padding: 5px 0;
    h1 {
        font-size: 14px;
        font-family: $Raleway;
        color: white;
        text-align: center;
        text-shadow: 0 0 15px #fff, 0 0 30px rgba(255, 255, 255, 0.3);
    }
}
