.containerStrategyButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  .strategyButton {
    position: relative;
    cursor: pointer;
    font-family: $Raleway;
    font-size: 0.9rem;
    padding: 10px 5px;
    background-color: rgb(34, 38, 48);
    color: rgb(223, 227, 230);
    border: none;
    transition: 0.4s;
    &:hover {
      background-color: rgb(19, 24, 43);
      color: rgb(255, 255, 255);
    }
  }
}
