@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
$HeaderFont: "Catamaran", sans-serif;
$Raleway: "Raleway", sans-serif;
$Roboto: "Roboto", sans-serif;
