@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap");
@font-face {
    font-family: sf-pro-display-medium;
    src: local("MyFont"), url("../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("truetype");
}

$HeaderFont: "Catamaran", sans-serif;
$Raleway: "Raleway", sans-serif;
$Roboto: "Roboto", sans-serif;
$Sans: "PT Sans", sans-serif;
$Merri: "Merriweather Sans", sans-serif;
$Kumbh: "Kumbh Sans", sans-serif;
$Sf-Pro: sf-pro-display-medium;
