.bastionDefault {
    padding-top: 5vh;
    width: 100%;
    text-align: center;
    & > h1 {
        color: $titleHeaderColor;
        font-size: 2.5rem;
        font-family: $Roboto;
        text-align: center;
        margin-bottom: 4vh;
    }
    & > h2 {
        font-family: $Raleway;
        font-size: 1.5rem;
        color: $secondTitleHeaderColor;
    }

    & > h3 {
        font-family: $Raleway;
        font-weight: 100;
        font-size: 1.5rem;
        margin-top: 50px;
        color: $secondTitleHeaderColor;
    }

    & > p {
        font-family: $Merri;
        font-weight: 100;
        font-size: 0.95rem;
        letter-spacing: 1px;
        text-indent: 2rem;
        text-align: left;
        width: 60%;
        margin: 0 auto;
        margin-top: 10px;
        color: $secondTitleHeaderColor;
    }
    & > p:nth-of-type(3) {
        color: $secondTitleHeaderColor;
        text-align: center;
    }
    & > h4 {
        color: grey;
    }
    & > ul {
        background: linear-gradient(140deg, rgb(228, 230, 167), rgb(27, 31, 8));

        position: relative;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, 170px);
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        grid-auto-rows: 40px;
        justify-content: center;

        width: 80%;
        min-height: 200px;
        max-width: 900px;
        padding: 50px 20px;
        padding-top: 30px;
        margin: 0 auto;
        margin-top: 3vh;
        overflow: hidden;
        &:nth-of-type(1) {
            border-radius: 45px;
            &::after {
                top: -15px;
                left: -15px;
                content: "";
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: linear-gradient(120deg, rgb(156, 156, 96), rgb(220, 236, 129) 70%);
                position: absolute;
            }
        }
        &:nth-of-type(2) {
            border-radius: 45px;
            &::after {
                top: -15px;
                left: -15px;
                content: "";
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: linear-gradient(120deg, rgb(129, 129, 72), rgb(196, 158, 32) 70%);
                position: absolute;
            }
        }

        .cogBackground {
            color: rgb(41, 51, 43);
            position: absolute;
            bottom: 0px;
            right: 0px;
            font-size: 4rem;
        }
        .defaultPet {
            display: flex;
            font-weight: 100;
            font-family: $Roboto;
            font-size: 0.85rem;
            align-items: center;

            padding: 35px 15px;
            color: rgb(29, 80, 29);
            z-index: 10;
            img {
                width: 40px;
                height: 40px;
            }
            span {
                width: 100px;
                margin: 0 auto;
                text-align: center;
                color: rgb(211, 211, 211);
            }
            .owned {
                color: rgb(35, 61, 32);
            }
            .notOwned {
                color: red;
            }
        }
    }
}
