@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.headerTop {
  position: relative;
  height: 120px;
  min-height: 100px;
  width: 100%;
  background-color: #242833;
}

.headerTop h1 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Catamaran", sans-serif;
  text-transform: uppercase;
  color: #e9e8e8;
  text-align: center;
  letter-spacing: 4px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.searchBar {
  position: relative;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway", sans-serif;
}

.searchBar select {
  color: #1a2c31;
  top: -3rem;
  padding: 0.4rem 0.8rem;
  font-family: "Raleway", sans-serif;
  border: 0;
  position: absolute;
  background-color: #d9e0f3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.searchBar .search {
  position: relative;
}

.searchBar .search .error {
  position: absolute;
  width: 300px;
  left: 380px;
  top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 0.85rem;
  color: #e03535;
}

.searchBar .search label {
  pointer-events: none;
  color: #80a3ad;
  left: 0.5rem;
  top: 1rem;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.searchBar .search input:focus + label,
.searchBar .search input:not(:placeholder-shown) + label {
  -webkit-transform: scale(0.9) translateY(-2.5rem);
          transform: scale(0.9) translateY(-2.5rem);
  opacity: 1;
}

.searchBar .search input::-webkit-input-placeholder {
  opacity: 0;
}

.searchBar .search input:-ms-input-placeholder {
  opacity: 0;
}

.searchBar .search input::-ms-input-placeholder {
  opacity: 0;
}

.searchBar .search input::placeholder {
  opacity: 0;
}

.searchBar input {
  background-color: #d9e0f3;
  position: relative;
  color: #17404b;
  font-size: 1.3rem;
  padding: 0.6rem 0.8rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: none;
  width: 300px;
  letter-spacing: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.searchBar input:focus {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: #d9e0f3;
  -webkit-box-shadow: 0px 0px 4px 0px black;
          box-shadow: 0px 0px 4px 0px black;
  outline: none;
  border: none;
}

.searchBar button {
  font-size: 1rem;
  background-color: #7ab1d6;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 0.4rem 1.2rem;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.searchBar button i {
  color: #305772;
}

.searchBar button:hover {
  background-color: #5b91b6;
}

.searchBar > label {
  font-size: 0.85rem;
  top: 3.5rem;
  position: absolute;
  color: #578592;
}

.paginationButtons {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 4px 0px black;
          box-shadow: 0px 0px 4px 0px black;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 20px 15px;
  border-radius: 7px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10vh auto;
  z-index: 20;
}

@media only screen and (max-width: 720px) {
  .paginationButtons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.paginationButtons a {
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: #414163;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.paginationButtons a:hover {
  background-color: #28485e;
  color: white;
}

.paginationButtons .paginationActive a {
  position: relative;
  background-color: #28485e;
  color: white;
}

.paginationButtons .paginationActive a::after {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  width: 70%;
  height: 30px;
  border-bottom-left-radius: 3px;
  background-color: #bddcf5;
  -webkit-clip-path: polygon(0 64%, 0% 100%, 100% 100%);
          clip-path: polygon(0 64%, 0% 100%, 100% 100%);
}

.paginationButtons .paginationDisabled a {
  background-color: #424141;
  border: 1px solid #4a4a4b;
  color: #999999;
  cursor: no-drop;
}

.paginationButtons .paginationDisabled a:hover {
  background-color: none;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes skullColorChange {
  0% {
    color: #525151;
  }
  100% {
    color: #a09e9e;
  }
}

@keyframes skullColorChange {
  0% {
    color: #525151;
  }
  100% {
    color: #a09e9e;
  }
}

@-webkit-keyframes magicalColors {
  0% {
    color: white;
  }
  100% {
    color: #e0d476;
  }
}

@keyframes magicalColors {
  0% {
    color: white;
  }
  100% {
    color: #e0d476;
  }
}

.App .rememberChar {
  cursor: pointer;
  background-color: #c03737;
  color: white;
  font-family: "Roboto", sans-serif;
  position: absolute;
  padding: 10px 14px;
  top: 220px;
  left: 8%;
  z-index: 5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.App .rememberChar:hover {
  background-color: #912222;
}

.App .rememberChar:active {
  top: 217px;
}

.App .favored {
  cursor: auto;
  color: #fafafa;
  background-color: #912222;
  -webkit-box-shadow: inset 0px 0px 8px 2px #313131;
          box-shadow: inset 0px 0px 8px 2px #313131;
  left: 10%;
}

.App .favored:active {
  top: 220px;
}

.App .profile {
  position: absolute;
  top: 60px;
  left: 10%;
}

.App .profile img {
  position: relative;
  border-radius: 0.5rem;
}

.App .profile:hover .hoverProfile {
  opacity: 1;
}

.App .profile .hoverProfile {
  position: absolute;
  left: 100px;
  top: -20px;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.App .profile div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: black;
  position: absolute;
  min-width: 350px;
  top: 90px;
  left: -40px;
}

.App .profile div h2 {
  font-size: 1.2rem;
  padding: 5px 0;
  font-weight: 300;
  margin-left: 8px;
  color: black;
}

.App .profile div h2::first-letter {
  display: inline;
  text-transform: uppercase;
}

.App .error {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.App .error p {
  color: #1e2b3b;
  font-size: 7rem;
  margin-bottom: 5vh;
}

.App > .displayPets {
  position: relative;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 250px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(-webkit-min-content, 250px));
      grid-template-columns: repeat(auto-fill, minmax(min-content, 250px));
  grid-column-gap: 50px;
  grid-row-gap: 100px;
  grid-auto-rows: 1fr;
  min-height: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 15vh;
}

.App > .displayPets .zoomOutPet {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 0;
}

@-webkit-keyframes glowElemental {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #801e1e;
            box-shadow: 0px 0px 0px 0px #801e1e;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px #831b1b;
            box-shadow: 0px 0px 10px 0px #831b1b;
  }
}

@keyframes glowElemental {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #801e1e;
            box-shadow: 0px 0px 0px 0px #801e1e;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px #831b1b;
            box-shadow: 0px 0px 10px 0px #831b1b;
  }
}

@-webkit-keyframes glowCritter {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #99922a;
            box-shadow: 0px 0px 0px 0px #99922a;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px #99922a;
            box-shadow: 0px 0px 10px 0px #99922a;
  }
}

@keyframes glowCritter {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #99922a;
            box-shadow: 0px 0px 0px 0px #99922a;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px #99922a;
            box-shadow: 0px 0px 10px 0px #99922a;
  }
}

.App > .displayPets .elemental {
  background: linear-gradient(150deg, #921717 20%, #380505 50%, #921717);
  color: white;
  border: 1px solid #dfd9d9;
  -webkit-box-shadow: 0px 0px 10px 5px #666565;
          box-shadow: 0px 0px 10px 5px #666565;
}

.App > .displayPets .elemental .blue {
  color: #5387d6;
}

.App > .displayPets .elemental .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.App > .displayPets .elemental .health {
  color: red;
}

.App > .displayPets .elemental .speed {
  color: yellow;
}

.App > .displayPets .elemental .power {
  color: orange;
}

.App > .displayPets .elemental li {
  color: white;
}

.App > .displayPets .undead {
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  background: linear-gradient(20deg, #272323, black 0%, #444242, black);
  color: white;
  border: 1px solid silver;
  -webkit-box-shadow: 2px 2px 10px 3px #474747;
          box-shadow: 2px 2px 10px 3px #474747;
}

.App > .displayPets .undead .blue {
  color: #2a6080;
}

.App > .displayPets .undead .blue::first-letter {
  text-transform: uppercase;
}

.App > .displayPets .undead .skull {
  position: absolute;
  color: #525151;
  left: 10%;
  top: 30%;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  animation: skullColorChange 2s alternate-reverse infinite;
}

.App > .displayPets .undead .skull1 {
  position: absolute;
  color: #525151;
  left: 27%;
  bottom: 15%;
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
  animation: skullColorChange 1s alternate-reverse infinite;
}

.App > .displayPets .undead .skull2 {
  position: absolute;
  color: #525151;
  right: 13%;
  top: 30%;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
  animation: skullColorChange 4s alternate-reverse infinite;
}

.App > .displayPets .undead .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.App > .displayPets .critter {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  background: linear-gradient(10deg, #643a18, #f5e65e);
  border: 1px solid #b4a270;
  -webkit-box-shadow: 6px 8px 8px 1px #967722;
          box-shadow: 6px 8px 8px 1px #967722;
  color: #1f1e1e;
}

.App > .displayPets .critter .grey {
  color: #616060;
}

.App > .displayPets .critter .green {
  color: green;
}

.App > .displayPets .critter .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.App > .displayPets .critter .power {
  color: #724318;
}

.App > .displayPets .critter .speed {
  color: #f0f016;
}

.App > .displayPets .critter .frog {
  position: absolute;
  color: #abaf73;
  left: 20%;
  bottom: 10%;
}

.App > .displayPets .aquatic {
  background: -webkit-gradient(linear, left bottom, left top, from(#1c3c94), to(#3e7dcf));
  background: linear-gradient(0deg, #1c3c94, #3e7dcf);
  -webkit-box-shadow: 2px 2px 8px 3px black;
          box-shadow: 2px 2px 8px 3px black;
  border: none;
  color: #e2e1e1;
}

.App > .displayPets .aquatic .blue {
  color: #142444;
}

.App > .displayPets .aquatic .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.App > .displayPets .aquatic .speed {
  color: #f0f06e;
}

.App > .displayPets .humanoid {
  background: -webkit-gradient(linear, left bottom, left top, from(#66634a), to(#928933));
  background: linear-gradient(0deg, #66634a, #928933);
  -webkit-box-shadow: 2px 2px 8px 3px black;
          box-shadow: 2px 2px 8px 3px black;
  border: none;
  color: #d1d0d0;
}

.App > .displayPets .humanoid .mask {
  font-size: 1.5rem;
  position: absolute;
  top: 2%;
  right: 5%;
  color: #f1f1f1;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.App > .displayPets .humanoid .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.App > .displayPets .humanoid .speed {
  color: #f0f06e;
}

.App > .displayPets .magic {
  background: linear-gradient(30deg, #155363, #5c062a);
  color: #e0d476;
  border: 1px solid #5dcc8c;
  -webkit-box-shadow: 2px 2px 15px 3px #2d6a72;
          box-shadow: 2px 2px 15px 3px #2d6a72;
  animation: magicalColors 4s infinite alternate-reverse;
}

.App > .displayPets .magic .blue {
  color: #2d8399;
}

.App > .displayPets .magic .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.App > .displayPets .beast {
  background: -webkit-gradient(linear, left bottom, left top, from(#493814), to(#47430b));
  background: linear-gradient(0deg, #493814, #47430b);
  -webkit-box-shadow: 2px 2px 15px 3px black;
          box-shadow: 2px 2px 15px 3px black;
  color: #d6d2d2;
}

.App > .displayPets .beast .paw {
  color: #6e5725;
  font-size: 2rem;
  position: absolute;
  bottom: 17%;
  right: 17%;
}

.App > .displayPets .beast .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #aaa8a8;
}

.App > .displayPets .flying {
  background: -webkit-gradient(linear, left bottom, left top, from(#bebe93), to(#beba79));
  background: linear-gradient(0deg, #bebe93, #beba79);
  -webkit-box-shadow: 2px 2px 10px 2px #a09f9f;
          box-shadow: 2px 2px 10px 2px #a09f9f;
  -webkit-animation: flyIn 0.6s;
          animation: flyIn 0.6s;
}

.App > .displayPets .flying .green {
  color: #046904;
}

.App > .displayPets .flying .grey {
  color: #525050;
}

.App > .displayPets .flying .feather {
  color: #646446;
  position: absolute;
  top: 25%;
  right: 15%;
}

.App > .displayPets .flying .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #2c2b2b;
}

.App > .displayPets .mechanical {
  background: linear-gradient(60deg, #757573, #cecece);
  -webkit-box-shadow: 2px 2px 10px 2px #383737;
          box-shadow: 2px 2px 10px 2px #383737;
}

.App > .displayPets .mechanical .cogs {
  color: #252523;
  position: absolute;
  font-size: 2rem;
  bottom: 12%;
  right: 10%;
}

.App > .displayPets .mechanical .cog {
  color: #252523;
  position: absolute;
  font-size: 1.5rem;
  top: 20%;
  left: 10%;
  -webkit-animation: spinner 3.5s linear infinite;
          animation: spinner 3.5s linear infinite;
}

.App > .displayPets .mechanical .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #2e2d2d;
}

.App > .displayPets .dragonkin {
  background: -webkit-gradient(linear, left bottom, left top, from(#577950), to(#beba79));
  background: linear-gradient(0deg, #577950, #beba79);
  -webkit-box-shadow: 2px 2px 10px 2px #a09f9f;
          box-shadow: 2px 2px 10px 2px #a09f9f;
}

.App > .displayPets .dragonkin .power {
  color: #86592e;
}

.App > .displayPets .dragonkin .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #2e2d2d;
}

.App > .displayPets .dragonkin .blue {
  color: #1c1c81;
}

.App > .displayPets .dragonkin .blue::first-letter {
  text-transform: uppercase;
}

.App > .displayPets .dragonkin .green {
  color: #5d8b31;
}

.App > .displayPets .dragonkin .green::first-letter {
  text-transform: uppercase;
}

.App > .displayPets .dragonkin .white {
  color: #e7ecdc;
}

.App > .displayPets .dragonkin .white::first-letter {
  text-transform: uppercase;
}

.App > .displayPets .dragonkin .grey {
  color: #a7a8a5;
}

.App > .displayPets .dragonkin .grey::first-letter {
  text-transform: uppercase;
}

.App > .displayPets .dragonkin .dragonSign1 {
  position: absolute;
  top: 35%;
  right: 0%;
  background-color: #bad6b3;
  width: 20px;
  height: 20px;
  -webkit-clip-path: polygon(35% 39%, 49% 30%, 100% 8%, 100% 100%, 56% 84%, 37% 71%, 18% 66%, 0 67%, 9% 57%, 20% 49%);
          clip-path: polygon(35% 39%, 49% 30%, 100% 8%, 100% 100%, 56% 84%, 37% 71%, 18% 66%, 0 67%, 9% 57%, 20% 49%);
}

.App > .displayPets .fireIcon {
  background-image: url(".././assets/fireIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 20px;
  width: 35px;
  top: 17px;
  right: 3%;
  z-index: 25;
  -webkit-transform: translate3d(20%, 50%, 0px);
          transform: translate3d(20%, 50%, 0px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.App > .displayPets .swipe {
  position: absolute;
  top: 10%;
  left: 0px;
  width: 50px;
  height: 40px;
  background-color: #dadada;
  -webkit-clip-path: polygon(0 18%, 24% 26%, 43% 30%, 55% 32%, 54% 35%, 49% 44%, 44% 46%, 40% 54%, 29% 67%, 0 81%);
          clip-path: polygon(0 18%, 24% 26%, 43% 30%, 55% 32%, 54% 35%, 49% 44%, 44% 46%, 40% 54%, 29% 67%, 0 81%);
}

.App > .displayPets .waterDrop1 {
  position: absolute;
  right: 10%;
  top: 30%;
  width: 20px;
  height: 20px;
  background-color: #5d93d1;
  -webkit-clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
          clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.App > .displayPets .waterDrop2 {
  position: absolute;
  right: 30%;
  bottom: 10%;
  width: 20px;
  height: 20px;
  background-color: #5d93d1;
  -webkit-clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
          clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.App > .displayPets .waterDrop3 {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 20px;
  height: 20px;
  background-color: #5d93d1;
  -webkit-clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
          clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
  -webkit-transform: rotateZ(320deg);
          transform: rotateZ(320deg);
}

.App > .displayPets li {
  position: relative;
  background-color: #f0f0f0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dfdfdf;
  text-align: center;
  padding: 0.8rem 0;
  padding-bottom: 0rem;
  border-radius: 0.8rem;
  -webkit-transition: 1s;
  transition: 1s;
  line-height: 1.9rem;
  z-index: 10;
  -webkit-animation: enterTop;
          animation: enterTop;
}

.App > .displayPets li .blue {
  color: #1c1c81;
  font-size: 0.85rem;
  font-family: "Raleway", sans-serif;
}

.App > .displayPets li .blue::first-letter {
  text-transform: uppercase;
}

.App > .displayPets li .green {
  color: #69a530;
  font-size: 0.85rem;
  font-family: "Raleway", sans-serif;
}

.App > .displayPets li .green::first-letter {
  text-transform: uppercase;
}

.App > .displayPets li .white {
  color: #f0f1ee;
  font-size: 0.85rem;
  font-family: "Raleway", sans-serif;
}

.App > .displayPets li .white::first-letter {
  text-transform: uppercase;
}

.App > .displayPets li .grey {
  color: #a7a8a5;
  font-size: 0.85rem;
  font-family: "Raleway", sans-serif;
}

.App > .displayPets li .grey::first-letter {
  text-transform: uppercase;
}

.App > .displayPets li .petName {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 18px;
  min-height: 33px;
  margin-bottom: 0px;
}

.App > .displayPets li .level {
  margin-bottom: 20px;
}

.App > .displayPets li .type {
  margin: 0 auto;
  margin-top: 40px;
  color: #1b1b1b;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
}

.App > .displayPets li p {
  text-align: center;
  margin: 0 auto;
  min-width: 110px;
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
}

.App > .displayPets li p .health {
  color: #c22f2f;
  font-size: 1rem;
}

.App > .displayPets li p .power {
  color: #c9792f;
  font-size: 1rem;
}

.App > .displayPets li p .speed {
  color: #ada531;
  font-size: 1rem;
}

.App > .displayPets li .iconPet {
  position: relative;
  width: 100%;
  height: 10px;
}

.App > .displayPets li .iconPet img {
  position: absolute;
  top: -20px;
  left: 50%;
  right: 50%;
  width: 50px;
  border-radius: 0.2rem;
  border: 0.5px solid #c4c2c2;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 0px);
          transform: translate3d(-50%, -50%, 0px);
}

@-webkit-keyframes enterTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes enterTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes flyIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes flyIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.spinnerProfile-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 20px;
  left: 10%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top-color: #312d2b;
  -webkit-animation: spinner 0.7s linear infinite;
          animation: spinner 0.7s linear infinite;
}

.spinnerPets-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top-color: #312d2b;
  -webkit-animation: spinner 0.7s linear infinite;
          animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes skullColorChange {
  0% {
    color: #525151;
  }
  100% {
    color: #a09e9e;
  }
}

@keyframes magicalColors {
  0% {
    color: white;
  }
  100% {
    color: #e0d476;
  }
}

.behindModal {
  background-color: rgba(10, 10, 10, 0.507);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 25;
}

.elemental {
  background: linear-gradient(150deg, #921717 20%, #380505 50%, #921717);
  color: white;
  border: 1px solid #dfd9d9;
  -webkit-box-shadow: 0px 0px 10px 5px #666565;
          box-shadow: 0px 0px 10px 5px #666565;
}

.elemental .blue {
  color: #5387d6;
}

.elemental .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.elemental .health {
  color: red;
}

.elemental .speed {
  color: yellow;
}

.elemental .power {
  color: orange;
}

.elemental li {
  color: white;
}

.undead {
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  background: linear-gradient(20deg, #272323, black 0%, #444242, black);
  color: white;
  border: 1px solid silver;
  -webkit-box-shadow: 2px 2px 10px 3px #474747;
          box-shadow: 2px 2px 10px 3px #474747;
}

.undead .blue {
  color: #2a6080;
}

.undead .blue::first-letter {
  text-transform: uppercase;
}

.undead .skull {
  position: absolute;
  color: #525151;
  left: 10%;
  top: 30%;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  animation: skullColorChange 2s alternate-reverse infinite;
}

.undead .skull1 {
  position: absolute;
  color: #525151;
  left: 27%;
  bottom: 15%;
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
  animation: skullColorChange 1s alternate-reverse infinite;
}

.undead .skull2 {
  position: absolute;
  color: #525151;
  right: 13%;
  top: 30%;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
  animation: skullColorChange 4s alternate-reverse infinite;
}

.undead .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.critter {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  background: linear-gradient(10deg, #643a18, #f5e65e);
  border: 1px solid #b4a270;
  -webkit-box-shadow: 6px 8px 8px 1px #967722;
          box-shadow: 6px 8px 8px 1px #967722;
  color: #1f1e1e;
}

.critter .grey {
  color: #616060;
}

.critter .green {
  color: green;
}

.critter .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.critter .power {
  color: #724318;
}

.critter .speed {
  color: #f0f016;
}

.critter .frog {
  position: absolute;
  color: #abaf73;
  left: 20%;
  bottom: 10%;
}

.aquatic {
  background: -webkit-gradient(linear, left bottom, left top, from(#1c3c94), to(#3e7dcf));
  background: linear-gradient(0deg, #1c3c94, #3e7dcf);
  -webkit-box-shadow: 2px 2px 8px 3px black;
          box-shadow: 2px 2px 8px 3px black;
  border: none;
  color: #e2e1e1;
}

.aquatic .blue {
  color: #142444;
}

.aquatic .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.aquatic .speed {
  color: #f0f06e;
}

.humanoid {
  background: -webkit-gradient(linear, left bottom, left top, from(#66634a), to(#928933));
  background: linear-gradient(0deg, #66634a, #928933);
  -webkit-box-shadow: 2px 2px 8px 3px black;
          box-shadow: 2px 2px 8px 3px black;
  border: none;
  color: #d1d0d0;
}

.humanoid .mask {
  font-size: 1.5rem;
  position: absolute;
  top: 2%;
  right: 5%;
  color: #f1f1f1;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.humanoid .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.humanoid .speed {
  color: #f0f06e;
}

.magic {
  background: linear-gradient(30deg, #155363, #5c062a);
  color: #e0d476;
  border: 1px solid #5dcc8c;
  -webkit-box-shadow: 2px 2px 15px 3px #2d6a72;
          box-shadow: 2px 2px 15px 3px #2d6a72;
  animation: magicalColors 4s infinite alternate-reverse;
}

.magic .blue {
  color: #2d8399;
}

.magic .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #d6d0d0;
}

.beast {
  background: -webkit-gradient(linear, left bottom, left top, from(#493814), to(#47430b));
  background: linear-gradient(0deg, #493814, #47430b);
  -webkit-box-shadow: 2px 2px 15px 3px black;
          box-shadow: 2px 2px 15px 3px black;
  color: #d6d2d2;
}

.beast .paw {
  color: #6e5725;
  font-size: 2rem;
  position: absolute;
  bottom: 17%;
  right: 17%;
}

.beast .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #aaa8a8;
}

.flying {
  background: -webkit-gradient(linear, left bottom, left top, from(#bebe93), to(#beba79));
  background: linear-gradient(0deg, #bebe93, #beba79);
  -webkit-box-shadow: 2px 2px 10px 2px #a09f9f;
          box-shadow: 2px 2px 10px 2px #a09f9f;
  -webkit-animation: flyIn 0.6s;
          animation: flyIn 0.6s;
}

.flying .green {
  color: #046904;
}

.flying .grey {
  color: #525050;
}

.flying .feather {
  color: #646446;
  position: absolute;
  top: 25%;
  right: 15%;
}

.flying .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #2c2b2b;
}

.mechanical {
  background: linear-gradient(60deg, #757573, #cecece);
  -webkit-box-shadow: 2px 2px 10px 2px #383737;
          box-shadow: 2px 2px 10px 2px #383737;
}

.mechanical .cogs {
  color: #252523;
  position: absolute;
  font-size: 2rem;
  bottom: 12%;
  right: 10%;
}

.mechanical .cog {
  color: #252523;
  position: absolute;
  font-size: 1.5rem;
  top: 20%;
  left: 10%;
  -webkit-animation: spinner 3.5s linear infinite;
          animation: spinner 3.5s linear infinite;
}

.mechanical .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #2e2d2d;
}

.dragonkin {
  background: -webkit-gradient(linear, left bottom, left top, from(#577950), to(#beba79));
  background: linear-gradient(0deg, #577950, #beba79);
  -webkit-box-shadow: 2px 2px 10px 2px #a09f9f;
          box-shadow: 2px 2px 10px 2px #a09f9f;
}

.dragonkin .power {
  color: #86592e;
}

.dragonkin .type {
  margin: 0 auto;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  margin-top: 40px;
  color: #2e2d2d;
}

.dragonkin .blue {
  color: #1c1c81;
}

.dragonkin .blue::first-letter {
  text-transform: uppercase;
}

.dragonkin .green {
  color: #5d8b31;
}

.dragonkin .green::first-letter {
  text-transform: uppercase;
}

.dragonkin .white {
  color: #e7ecdc;
}

.dragonkin .white::first-letter {
  text-transform: uppercase;
}

.dragonkin .grey {
  color: #a7a8a5;
}

.dragonkin .grey::first-letter {
  text-transform: uppercase;
}

.dragonkin .dragonSign1 {
  position: absolute;
  top: 35%;
  right: 0%;
  background-color: #bad6b3;
  width: 20px;
  height: 20px;
  -webkit-clip-path: polygon(35% 39%, 49% 30%, 100% 8%, 100% 100%, 56% 84%, 37% 71%, 18% 66%, 0 67%, 9% 57%, 20% 49%);
          clip-path: polygon(35% 39%, 49% 30%, 100% 8%, 100% 100%, 56% 84%, 37% 71%, 18% 66%, 0 67%, 9% 57%, 20% 49%);
}

.fireIcon {
  background-image: url(".././assets/fireIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 20px;
  width: 35px;
  top: 17px;
  right: 3%;
  z-index: 25;
  -webkit-transform: translate3d(20%, 50%, 0px);
          transform: translate3d(20%, 50%, 0px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swipe {
  position: absolute;
  top: 10%;
  left: 0px;
  width: 50px;
  height: 40px;
  background-color: #dadada;
  -webkit-clip-path: polygon(0 18%, 24% 26%, 43% 30%, 55% 32%, 54% 35%, 49% 44%, 44% 46%, 40% 54%, 29% 67%, 0 81%);
          clip-path: polygon(0 18%, 24% 26%, 43% 30%, 55% 32%, 54% 35%, 49% 44%, 44% 46%, 40% 54%, 29% 67%, 0 81%);
}

.waterDrop1 {
  position: absolute;
  right: 10%;
  top: 30%;
  width: 20px;
  height: 20px;
  background-color: #5d93d1;
  -webkit-clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
          clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.waterDrop2 {
  position: absolute;
  right: 30%;
  bottom: 10%;
  width: 20px;
  height: 20px;
  background-color: #5d93d1;
  -webkit-clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
          clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.waterDrop3 {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 20px;
  height: 20px;
  background-color: #5d93d1;
  -webkit-clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
          clip-path: polygon(56% 12%, 70% 25%, 74% 48%, 65% 69%, 58% 85%, 50% 100%, 35% 80%, 26% 60%, 25% 35%, 34% 19%);
  -webkit-transform: rotateZ(320deg);
          transform: rotateZ(320deg);
}

.modalPet {
  border-radius: 0.5rem;
  border: 1px solid white;
  position: fixed;
  max-width: 450px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0 30px 10px 30px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  text-align: center;
  top: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 40;
  -webkit-box-shadow: 0px 0px 8px 3px black;
          box-shadow: 0px 0px 8px 3px black;
  -webkit-animation: 1s fadeIn cubic-bezier(0.075, 0.12, 0.165, 0.8);
          animation: 1s fadeIn cubic-bezier(0.075, 0.12, 0.165, 0.8);
}

.modalPet .icon {
  position: relative;
  height: 40px;
  width: 100%;
}

.modalPet .icon img {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modalPet h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  width: 70%;
  margin: 0 auto;
}

.modalPet h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modalPet .trade {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-animation: 0.8s enterLeft;
          animation: 0.8s enterLeft;
  text-align: center;
}

.modalPet .type {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-animation: 0.8s enterLeft;
          animation: 0.8s enterLeft;
  text-align: center;
}

.modalPet .source {
  -webkit-animation: 0.8s enterRight;
          animation: 0.8s enterRight;
  text-align: center;
}

.modalPet p {
  position: relative;
  width: 300px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 17px;
  margin: 0 auto;
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
  -webkit-animation: 1s enterTop;
          animation: 1s enterTop;
  z-index: 10;
}

.modalPet ul {
  position: relative;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-rows: 110px;
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 15px;
  z-index: 10;
}

.modalPet .loadingAbilities {
  position: absolute;
  border: 3px solid #a51c1c;
  border-top: 1px solid #e2e0e0;
  border-right: 0px;
  border-radius: 50%;
  top: 50%;
  bottom: 50%;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  -webkit-animation: spinner 0.7s linear infinite;
          animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-40px, 240px) rotate(-5deg);
            transform: translate(-40px, 240px) rotate(-5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px) rotate(0);
            transform: translate(0px) rotate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-40px, 240px) rotate(-5deg);
            transform: translate(-40px, 240px) rotate(-5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px) rotate(0);
            transform: translate(0px) rotate(0);
  }
}

@-webkit-keyframes enterLeft {
  0% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes enterLeft {
  0% {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes enterRight {
  0% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes enterRight {
  0% {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes enterTop {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.copyRight {
  background-color: #303544;
  width: 100%;
  margin-top: 30vh;
  padding: 10px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: black;
}

.copyRight span {
  color: #3e7070;
}

nav {
  position: absolute;
  bottom: 0;
  right: 4%;
  z-index: 10;
  width: 300px;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul a {
  background-color: #554f4f;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  color: #e2e2e2;
  padding: 10px 10px;
  margin: 0 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav ul a:hover {
  background-color: #f7f4f4;
  color: black;
}

nav ul .active {
  color: black;
  background-color: #f7f4f4;
}
/*# sourceMappingURL=style.css.map */